venv/
__pycache__/
*.pyc
.DS_Store
datasets/scans/
datasets/images/train/
datasets/images/val/
datasets/images/prepped/
datasets/prepped/
models/pretrained/
datasets/images/test/
output/test_results/
models/scripts/config_home.yaml
models/trained
datasets/images/train1/
datasets/images/train2/
datasets/images/actual_train/
my_backend/
label-studio-ml-backend
datasets/images/training round 2 data/